parameters:
  level: max
  parallel:
    maximumNumberOfProcesses: 1
    processTimeout: 200.0
  paths:
    - src
    - tests
  scanFiles:
    - %currentWorkingDirectory%/vendor/autoload.php
    - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/autoload.php
    - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/src/Util/Tokens.php
  exceptionRules:
    reportUnusedCatchesOfUncheckedExceptions: true
    uncheckedExceptions: []
  checkMissingIterableValueType: false
  treatPhpDocTypesAsCertain: false
  excludes_analyse:
    - */tests/*/data/*
  ignoreErrors:
    - '~Laminas\\Permissions\\Acl\\Exception\\InvalidArgumentException is never thrown in the corresponding try block~'
    - '~PHPDoc tag @throws with type .* is not subtype of Throwable~'
    - '~Call to static method .* with .* will always evaluate to true~'
    - '~Variable method call on~'
    - '~Call to function assert\(\) with true will always evaluate to true~'
    - '~Instanceof between PHPUnit\\Framework\\MockObject\\MockObject&.* and .* will always evaluate to true~'
    - '~Instanceof between .*&PHPUnit\\Framework\\MockObject\\MockObject and .* will always evaluate to true~'
